<template id="timerElement">
	<style>

		:host {
			display: inline-block;
			width: 250px;
			height: 100px;
		}

		:host(.inactive) {
			display: none;
		}

		h1 {
			margin: 0px 5px 0px 5px;
			font-size: 450%;
		}

		div {
			display: inline-block;
		}

		#time{
			margin:0px 15px 0px 15px;
		}

		input {
			display: block;
			font-family: FontAwesome;
			font-size: 200%;
		}
	</style>
	<div id="content">
		<div id="time">
			<h1>00:00</h1>
		</div>
		<div id="button-divs" class="inline">
			<input id="upButton" type="button" value="&#xf0d8"></input>
			<input id="dnButton" type="button" value="&#xf0d7"></input>
		</div>
	</div>
</template>
<script>
	"use strict";
	(function (){

	let importDoc = document.currentScript.ownerDocument;

	class PomodoroTimeElement extends HTMLElement{

		constructor(){
			super();
		}

		createdCallback(){
			var template = importDoc.querySelector('template#timerElement');
			var shadow = this.createShadowRoot();
			shadow.appendChild(importDoc.importNode(template.content, true));
		}


	}

	document.registerElement('pomodoro-timer-element', PomodoroTimeElement);
	}());

    System
        .import("js/timer.js")
        .then(function(){

        })

</script>